body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 1vh 5vw;
    width: 100vw;
  
    background-color: #111215;
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
  }
  
  canvas {
    display: block;
  }

  #btn-container {
    position: absolute;
    top: 5%;
    right: 20px;
    cursor: pointer;
  }